body {
   background: black;
   color: white;
}

#saved_image {
    float: right;
    height: 250px;
    margin-bottom: 5px;
    margin-right: 55px;
    position: relative;
    width: 250px;
}

#saved_image {
    vertical-align: middle;
}