<!DOCTYPE html>
   <head>
      <title>"Raspberry Connector"</title>
      <link rel="stylesheet" href="../static/style.css/">
   </head>
   <body>
      <h1>Raspberry Connector</h1>
      <img id="video" src="{{ url_for('video_feed') }}">
       <img id="saved_image" src="{{ url_for('show_image') }}">
   </body>
</html>